.like-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.like-button i {
  margin-right: 5px;
  color: #797979;
}

.like-button.liked i {
  color: #ff0000;
}

.like-count {
  font-size: 16px;
}

