.like-button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.like-button i {
  margin-right: 5px;
  color: #797979;
}

.like-button.liked i {
  color: #ff0000;
}

.like-count {
  font-size: 16px;
}

.like-list {
  margin-top: 20px;
}

.like-list h3 {
  margin-top: 0;
}

.like-list ul {
  list-style-type: space-counter;
  padding: 10;
  margin: 0;
}

.like-list li {
  padding: 5px 0;
}
