body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 10;
}

.post-container {
  background-color: white;
  border-radius: 8px;
  width: 400px;
  display: flex;
  align-items: center;
  margin: 20px;
}

.post-container:hover {
  cursor: pointer;
}

p {
  color: #797979;
}

.delete {
  float: right; /* 오른쪽으로 */
  text-decoration: underline;
  cursor: pointer; /* 손가락 모양 */
  color: #ff0000;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}

.like-list {
  margin-top: 20px;
}

.comment-list {
  margin-top: 20px;
}
